body{
background: rgb(70,142,236);
font:normal 15pt arial;
}
header{
    color: #ffffff;
    text-align: center;
}
section{
    background: #f7f7f7;
    border-radius: 15px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
    text-align: center;
}
#foto{
   margin-top: 10px;
}
footer{
    color: #ffffff;
    text-align: center;
}