body{
background: rgb(70,142,236);
font:normal 15pt arial;
}
header{
    color: #ffffff;
    text-align: center;
}

section{
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
}
.foto{
}

footer{
    color: #ffffff;
    text-align: center;
}